@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #18093e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ececec;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .hand-drawn-rectangle {
    display: inline-flex;
    border: 2px solid #ebebeb;
    border-radius: 0 25px 25px 25px; /* Rounded corners */
    position: relative;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
  }
  .hand-drawn-rectangle:after {
    border-bottom: 12px solid transparent;
    border-right: 12px solid var(--color_base_background);
    content: "";
    left: -9px;
    position: absolute;
    top: 0;
  }

  .hand-drawn-rectangle:before {
    border-bottom: 12px solid transparent;
    border-right: 12px solid var(--color_base_border);
    border-top-left-radius: 50%;
    content: "";
    left: -14px;
    position: absolute;
    top: -2px;
  }

  .brush-strokes {
    background: url("./../assets/brush-strokes.png") no-repeat top left;
  }

  /* Adding slight irregularity with pseudo-elements
  .hand-drawn-rectangle::before,
  .hand-drawn-rectangle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #000;
    border-radius: 30px;
    pointer-events: none;
  }

  .hand-drawn-rectangle::before {
    transform: rotate(0.2deg);
  }

  .hand-drawn-rectangle::after {
    transform: rotate(-0.2deg);
  } */
}
