@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #18093e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ececec;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
